<%- include('../shared/header') %>
<main>
    <div class="content">
        <h1>Ajouter un nouveau contact 🙎‍♂️</h1>
        <form method="post">
            <div class="form-group">
                <label for="firstname">Prénom : </label>
                <input id="firstname" name="firstname" type="text">
            </div>
            <div class="form-group">
                <label for="lastname">Nom : </label>
                <input id="lastname" name="lastname" type="text">
            </div>
            <div class="form-group">
                <label for="email">Adresse Mail : </label>
                <input id="email" name="email" type="email">   
            </div>
            <div class="form-group">
                <label for="tel">Numéro de téléphone : </label>
                <input name="tel" id="tel" type="tel" />
            </div>
            <div >
                <input type="checkbox" id="favorite" name="favorite">
                <label for="favorite">Mettre en favoris ?</label>
            </div>
            <div class="buttons">
                <a class="button-secondary" href="/contact/">Annuler</a>
                <button class="button" type="submit">Ajouter</button>
            </div>  
        </form>
    </div>
</main>

<%- include('../shared/footer') %>