<%- include('../shared/header') %>
<main>
    <div class="content">
        <h1>Liste de tous les contacts : </h1>
        <table>
            <thead>
                <tr>
                    <th>Prénom</th>
                    <th>Nom</th>
                    <th>Adresse mail</th>
                    <th>Numéro de téléphone</th>
                    <th>Favoris</th>
                </tr>
            </thead>
            <tbody>
                <% for(const contact of contacts) { %>
                    <tr>
                        <td> <%= contact.firstname %> </td>
                        <td> <%= contact.lastname %> </td>
                        <td> <%= contact.email %> </td>
                        <td> <%= contact.tel %> </td>
                        <td> <%= contact.favorite ? '⭐' : '' %> </td>
                    </tr>
                <% } %>
            </tbody>
        </table>
        <a class="button" href="/contact/ajouter">Ajouter un contact</a>
    </div>
</main>

<%- include('../shared/footer') %>