<%- include('../shared/header') %>

    <main>
        <div class="content">

        
        <h1>Ajouter un nouveau message ✉</h1>
        <form method="post">
            <div class="form-group">
                <label for="author">Pseudo ou Prénom : </label>
                <input id="author" name="author" type="text">
            </div>
            <div class="form-group">
                <label for="title">Titre du message : </label>
                <input id="title" name="title" type="text">
            </div>
            <div class="form-group">
                <label for="msg">Votre message : </label>
                <textarea name="msg" id="msg"></textarea>
            </div>
            <div >
                <input type="checkbox" id="urgent" name="urgent">
                <label for="urgent">Urgent ?</label>
            </div>
            <div class="buttons">
                <a class="button-secondary" href="/message/">Annuler</a>
                <button class="button" type="submit">Ajouter</button>
            </div>  
        </form>
    </div>
    </main>

    <%- include('../shared/footer') %>
    