<%- include('../shared/header') %>
<main>
    <div class="content">

    
    <h1>Voici la liste des messages : ✉</h1>
    <div class="card-container">   
        <% for(const message of messages) { %>
            <div class="card">
                <h2 class="title <%= message.urgent ? 'urgent' : '' %>"> <%= message.title %> </h2>
                <p> <%= message.msg %> </p>
                <p class="author"> <%= message.author %></p>
            </div>
        <% } %>
    </div>
    <a class="button" href="/message/ajouter">Ajouter un message</a>
</div>
</main>
<%- include('../shared/footer') %>