<%- include('../shared/header') %>
<main>
    <div class="content">

        <h1 class="txt-slate">Bienvenue sur notre site de messages personnalisés ! ✉</h1>
        <img src="/images/letter.png" alt="une potite lettre">
    </div>
</main>
<%- include('../shared/footer') %>