.txt-slate {
    color : darkslategray;
}
body {
    margin: 0;
    padding: 0;
}
/* MENU */
nav {
    height: 8vh;
}

nav ul {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
}

nav ul li {
    margin : 0 2%;
}

nav ul li a {
    text-decoration: none;
    color : darkslategrey;
    font-size: large;
}
nav ul li a:hover {
    color: darkgoldenrod;
}

/* MAIN */
main {
    width: 100vw;
    min-height: 82vh ;
    
}

.content {
    width: 70vw;
    margin: auto;
}

h1 {
    color : darkslategrey
}

/* FOOTER */
footer {
    width: 80vw;
    border-top: 1px solid darkslategrey;
    margin : auto;
}

/* MESSAGES */
.urgent {
    color : darkred;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.card {
    border-radius: 10px;
    background-color: rgb(210, 222, 222);
    display: flex;
    flex-direction: column;
    width: 25%;
    align-items: center;
    margin-bottom: 2%;
    padding: 1% 2%;
}
.author {
    align-self: end;
}

.title {
    width: 100%;
    border-bottom: 1px solid darkslategrey;
    padding-bottom: 0.5em;
}

.button {
    background-color: darkslategrey;
    border : none;
    color : white;
    padding: 1em 2em;
    text-decoration: none;
    font-size: medium;
}
.button:hover {
    background-color: darkgoldenrod;
}
.button-secondary {
    color : darkslategrey;
    padding: 0.5em 0 ;
    margin : 0.5em 1em;
    text-decoration: none;
    border-bottom: 1px solid darkgoldenrod;
}
.button-secondary:hover {
    color : darkgoldenrod;
    border-bottom: 1px solid darkslategrey;

}

.form-group {
    display: flex;
    flex-direction: column;
}

form {
    width: 30%;
}
.form-group * {
    margin-bottom: 2%;
}
input {
    height: 2em;
    
}
input[type="text"]:focus, textarea:focus {
    outline-style: solid;
    outline-width: 1px;
    outline-color: darkslategrey;
}
.buttons {
    margin: 2% 0;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
table {
    width: 100%;
    margin-bottom: 2%;
}

th, td {
    padding: 1% 2%;
}